body {
    padding: 0;
    margin: 0;
}

ol, ul { 
   	list-style-type: none;
}

.modal-body {
	overflow-y: auto;
	max-height: 400px;
}

#googleResultsTitle {
    font-weight: bold;
    font-size: 1em;
    margin-left: 40px;
}

#googlePlaceResult {
    padding-left: 10px;
}
#errors {
    color: red;
}
.searchHistory {
    margin-right: 10px;
}
#twitterUser {
    font-weight: bold;
}
#author {
    font-size: 0.5em;
}